[Desktop Entry]
Exec=/home/nullcube/.scripts/force-composition-pipeline.sh
Icon=dialog-scripts
Name=force-composition-pipeline
Path=
Type=Application
X-KDE-AutostartScript=true
